@model VideoInsights.Web.Models.DetailsDbViewModel

@{
    ViewData["Title"] = "Video Db Details";
}

<h1>Video Details</h1>

<h3>@Model.VideoDetailsData.Name</h3>

<video controls width="600" height="400">
    <source src="@Model.VideoDetailsData.Uri" type="video/mp4">
    Video tag is not supported in this browser.
</video>

<h3>Frames</h3>

<table class="table">
    <thead>
        <tr>
            <th>Frame</th>
            <th>Start</th>
            <th>End</th>
            <th>Labels</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VideoDetailsData.KeyFrameList)
        {
            <tr>
                <td><img src="@item.Thumbnail.First().Content" width="300" height="150"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimePeriod.First().StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimePeriod.First().EndTime)
                </td>
                <td>
                    @foreach (var label in item.Labels)
                    {
                        @Html.DisplayFor(modelItem => label.Content)
                        <br />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>